@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Oxygen:wght@300&display=swap");




/*ashi*/
:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --text-light: #767268;
  --extra-light: #ffffff;
  --foot-light: #0d213f;
  --arr-light: #3685fb;
  --body-light: #ffffff;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-same: #0d213f;
  --max-width: 1200px;
  --img-color: white;
  --head-text: #6a5acd;

  --bubble-color: #6a5acd;







/* new bubble end */
/* #scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  z-index: 333333;
} */

.dark-theme {
  --secondary-color: #0e1525;
  --text-dark: #ffffff;
  --arr-light: white;
  --body-light: #0e1525;
  --img-color: red;
  --head-text: red;
  --text-same: #0d213f;

  --bubble-color: red;
  --testimonials-img-border: red;
}
















.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  margin-top: 20px;
  margin-bottom: -28px;
  /*background: rgb(241, 239, 239);  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}








/* carousel */

.destination__container {
  background-color: var(--body-light);
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.mySlides {
  min-width: 100%;
  height: inherit;
  overflow: hidden;
  transition: margin-left 0.3s ease-in-out;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageDots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  margin-bottom: 10px;
}

.imageDots span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #0000;
  border: 3px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.imageDots span.active {
  background-color: white;
}

.destination__nav {
  display: flex;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  position: absolute;
  justify-content: space-between;
}

.destination__nav span {
  width: 75px;
  height: 75px;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 0 10px 10px 0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:nth-child(2) {
  border-radius: 10px 0 0 10px;
}

.destination__nav span:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  place-items: center;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__card img {
  border-radius: 1rem;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}





.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background-color: #00ffe7;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px);
  border-radius: 2%;
}
.swiper-slide-active {
  filter: blur(0px);
  background-color: white;
  border-radius: 2%;
}
